<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Avanti page test</title>
  </head>
  <body>
    <header>
      <div class="header-message">
        <p>
          Ganhe <span>R$10,00</span> de desconto no seu primeiro pedido. Utilize
          o cupom DESCONTO10
        </p>
      </div>
      <div class="header-main-content">
        <div class="center">
          <div class="left-side">
            <img src="/assets/icons/avanti-logo.svg" alt="avanti-logo" />
            <input type="text" placeholder="Digite o que você procura" />
          </div>
          <div class="right-side">
            <div class="login">
              <img
                src="/assets/icons/person-login.svg"
                alt="person-login-icon"
              />
              <div class="client-name">
                <p>Olá</p>
                <p>Nome do Cliente!</p>
              </div>
            </div>
            <div class="cart">
              <img src="/assets/icons/cart.svg" alt="cart-icon" />
            </div>
          </div>
        </div>
      </div>
      <nav class="nav-menu">
        <ul>
          <li>
            Todas categorias
            <span><img src="/assets/icons/hamburguer.svg" alt="" /></span>
          </li>
          <li>Departamento</li>
          <li>Departamento</li>
          <li>Departamento</li>
          <li>Departamento</li>
          <li>Departamento</li>
          <li>Departamento</li>
          <li>Departamento</li>
          <li>Departamento</li>
        </ul>
      </nav>
    </header>
    <main></main>
  </body>
  <script src="/js/script.js"></script>
</html>
