<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <title>Avanti page test</title>
  </head>
  <body>
    <header>
      <div class="header-message">
        <p>
          Ganhe <span>R$10,00</span> de desconto no seu primeiro pedido. Utilize
          o cupom <i>DESCONTO10</i>
        </p>
      </div>
      <div class="header-main-content">
        <div class="center">
          <div class="left-side">
            <img src="/assets/icons/avanti-logo.svg" alt="avanti-logo" />
            <input type="text" placeholder="Digite o que você procura" />
          </div>
          <div class="right-side">
            <div class="login">
              <img
                src="/assets/icons/person-login.svg"
                alt="person-login-icon"
              />
              <div class="client-name">
                <p>Olá</p>
                <p>Nome do Cliente!</p>
              </div>
            </div>
            <div class="cart">
              <img src="/assets/icons/cart.svg" alt="cart-icon" />
            </div>
          </div>
        </div>
      </div>
      <nav class="nav-menu">
        <div class="center">
          <ul class="nav-menu-links">
            <li class="all-categories-link">
              <span><img src="/assets/icons/hamburguer.svg" alt="" /></span>
              Todas as categorias
            </li>
            <li class="department">Departamento</li>
            <li>Departamento</li>
            <li>Departamento</li>
            <li>Departamento</li>
            <li>Departamento</li>
            <li>Departamento</li>
            <li>Departamento</li>
            <li>Departamento</li>
          </ul>

          <div class="all-categories">
            <div class="department-aside">
              <ul>
                <li>Departamento</li>
                <li>Departamento</li>
                <li>Departamento</li>
                <li>Departamento</li>
                <li>Departamento</li>
                <li>Departamento</li>
                <li>Departamento</li>
                <li>Departamento</li>
                <li>Departamento</li>
                <li>Departamento</li>
                <li>Departamento</li>
                <li>Departamento</li>
                <li>Departamento</li>
                <li>Departamento</li>
                <li>Departamento</li>
                <li>Departamento</li>
              </ul>
            </div>
            <div class="categories-aside">
              <ul>
                <li><p>Categoria</p></li>
                <li><p>Categoria</p></li>
                <li><p>Categoria</p></li>
                <li><p>Categoria</p></li>
                <li><p>Categoria</p></li>
                <li><p>Categoria</p></li>
                <li><p>Categoria</p></li>
                <li><p>Categoria</p></li>
                <li><p>Categoria</p></li>
                <li><p>Categoria</p></li>
                <li><p>Categoria</p></li>
                <li><p>Categoria</p></li>
                <li><p>Categoria</p></li>
                <li><p>Categoria</p></li>
                <li><p>Categoria</p></li>
              </ul>
              <div class="img-submenu">
                <p>
                  Confira os Produtos
                  <span class="incoming-span">Que acabaram De chegar</span>
                </p>
                <button>VER TODOS</button>
              </div>
            </div>
          </div>

          <div class="department-categories">
            <div class="categories-aside">
              <ul>
                <div class="title-department">
                  <h3>Departamento</h3>
                </div>
                <li><p>Categoria</p></li>
                <li><p>Categoria</p></li>
                <li><p>Categoria</p></li>
                <li><p>Categoria</p></li>
                <li><p>Categoria</p></li>
                <li><p>Categoria</p></li>
                <li><p>Categoria</p></li>
                <li><p>Categoria</p></li>
                <li><p>Categoria</p></li>
                <li><p>Categoria</p></li>
                <li><p>Categoria</p></li>
                <li><p>Categoria</p></li>
                <li><p>Categoria</p></li>
                <li><p>Categoria</p></li>
                <li><p>Categoria</p></li>
              </ul>
              <div class="img-submenu">
                <p>
                  Confira os Produtos
                  <span class="incoming-span">Que acabaram De chegar</span>
                </p>
                <button>VER TODOS</button>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section class="banner">
        <div class="banner-wrapper">
          <div class="chair-banner">
            <img src="../assets/images/chair-banner.png" />
          </div>
          <div class="text-banner">
            <img class="desk-text-banner" src="/assets/images/text-banner-desk.png" alt="" />
            <img class="mob-text-banner" src="/assets/images/banner-text-mob.png" alt="" />
          </div>
        </div>
      </section>
      <section class="launch">
        <div class="center">
          <div class="launch-header">
            <h2>Lançamentos</h2>
            <p>Ver mais</p>
          </div>

          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card">
                  <img
                    src="/assets/images/actor-man.jpg"
                    alt="actor-man-placeholder"
                  />
                  <div class="card-info">
                    <h3>
                      Lorem ipsum dolor sit amet consectetuer adipiscing elit
                    </h3>
                    <div class="price">
                      <div class="new-values">
                        <p class="OG-price">R$ 100</p>
                        <p class="discount-price">R$ 79,90</p>
                      </div>
                      <a class="discount-per">10% OFF</a>
                    </div>
                    <div class="parcel">Ou em até 10x de R$ 7,90</div>
                    <a href="#" class="btn-buy">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <img
                    src="/assets/images/actor-man.jpg"
                    alt="actor-man-placeholder"
                  />
                  <div class="card-info">
                    <h3>
                      Lorem ipsum dolor sit amet consectetuer adipiscing elit
                    </h3>
                    <div class="price">
                      <div class="new-values">
                        <p class="OG-price">R$ 100</p>
                        <p class="discount-price">R$ 79,90</p>
                      </div>
                      <a class="discount-per">10% OFF</a>
                    </div>
                    <div class="parcel">Ou em até 10x de R$ 7,90</div>
                    <a href="#" class="btn-buy">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <img
                    src="/assets/images/actor-man.jpg"
                    alt="actor-man-placeholder"
                  />
                  <div class="card-info">
                    <h3>
                      Lorem ipsum dolor sit amet consectetuer adipiscing elit
                    </h3>
                    <div class="price">
                      <div class="new-values">
                        <p class="OG-price">R$ 100</p>
                        <p class="discount-price">R$ 79,90</p>
                      </div>
                      <a class="discount-per">10% OFF</a>
                    </div>
                    <div class="parcel">Ou em até 10x de R$ 7,90</div>
                    <a href="#" class="btn-buy">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <img
                    src="/assets/images/actor-man.jpg"
                    alt="actor-man-placeholder"
                  />
                  <div class="card-info">
                    <h3>
                      Lorem ipsum dolor sit amet consectetuer adipiscing elit
                    </h3>
                    <div class="price">
                      <div class="new-values">
                        <p class="OG-price">R$ 100</p>
                        <p class="discount-price">R$ 79,90</p>
                      </div>
                      <a class="discount-per">10% OFF</a>
                    </div>
                    <div class="parcel">Ou em até 10x de R$ 7,90</div>
                    <a href="#" class="btn-buy">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <img
                    src="/assets/images/actor-man.jpg"
                    alt="actor-man-placeholder"
                  />
                  <div class="card-info">
                    <h3>
                      Lorem ipsum dolor sit amet consectetuer adipiscing elit
                    </h3>
                    <div class="price">
                      <div class="new-values">
                        <p class="OG-price">R$ 100</p>
                        <p class="discount-price">R$ 79,90</p>
                      </div>
                      <a class="discount-per">10% OFF</a>
                    </div>
                    <div class="parcel">Ou em até 10x de R$ 7,90</div>
                    <a href="#" class="btn-buy">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <img
                    src="/assets/images/actor-man.jpg"
                    alt="actor-man-placeholder"
                  />
                  <div class="card-info">
                    <h3>
                      Lorem ipsum dolor sit amet consectetuer adipiscing elit
                    </h3>
                    <div class="price">
                      <div class="new-values">
                        <p class="OG-price">R$ 100</p>
                        <p class="discount-price">R$ 79,90</p>
                      </div>
                      <a class="discount-per">10% OFF</a>
                    </div>
                    <div class="parcel">Ou em até 10x de R$ 7,90</div>
                    <a href="#" class="btn-buy">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <img
                    src="/assets/images/actor-man.jpg"
                    alt="actor-man-placeholder"
                  />
                  <div class="card-info">
                    <h3>
                      Lorem ipsum dolor sit amet consectetuer adipiscing elit
                    </h3>
                    <div class="price">
                      <div class="new-values">
                        <p class="OG-price">R$ 100</p>
                        <p class="discount-price">R$ 79,90</p>
                      </div>
                      <a class="discount-per">10% OFF</a>
                    </div>
                    <div class="parcel">Ou em até 10x de R$ 7,90</div>
                    <a href="#" class="btn-buy">Comprar</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>

          <div class="slide-controller">
            <div class="prev-element slide-nav">
              <img src="/assets/icons/arrow.svg" alt="" />
            </div>
            <div class="next-element slide-nav">
              <img src="/assets/icons/arrow.svg" alt="" />
            </div>
          </div>
        </div>
      </section>
      <section class="mug-section">
        <div class="img-mug-section">
          <img src="/assets/images/caneca-1.png" alt="" />
        </div>
        <div class="mug-text">
          <h2>LOREM IPSUM</h2>
          <p>
            Duis consectetur metus nec lacus auctor dignissim. Mauris vitae
            finibus dui. Mauris laoreet lacus ut eleifend viverra. Cras
            efficitur volutpat dui, in lobortis metus lacinia sit amet. Sed
            lacinia pharetra magna, vel pulvinar ligula hendrerit a. Maecenas
            fringilla porttitor tortor eget lacinia. Donec sollicitudin euismod
            orci, auctor fringilla magna consequat interdum. Fusce sagittis elit
            a libero commodo egestas efficitur id augue.
          </p>
          <p>
            Duis consectetur metus nec lacus auctor dignissim. Mauris vitae
            finibus dui. Mauris laoreet lacus ut eleifend viverra. Cras
            efficitur volutpat dui, in lobortis metus lacinia sit amet. Sed
            lacinia pharetra magna, vel pulvinar ligula hendrerit a. Maecenas
            fringilla porttitor tortor eget lacinia. Donec sollicitudin euismod
            orci, auctor fringilla magna consequat interdum. Fusce sagittis elit
            a libero commodo egestas efficitur id augue.
          </p>
        </div>
      </section>
      <section class="mug-section-2">
        <div class="mug2-wrapper">
          <div class="mug2-text">
            <h2>LOREM IPSUM</h2>
            <p>
              <span> <img src="/assets/icons/map-pin.svg" alt="" /> </span
              >Aenean massa. Cum sociis natoque penatibus et magnis dis
              parturient montes, nascetur ridiculus mus. Donec quam felis,
              ultricies nec, pellentesque eu, pretium quis, sem
            </p>
            <p>
              <span> <img src="/assets/icons/map-pin.svg" alt="" /> </span
              >Aenean massa. Cum sociis natoque penatibus et magnis dis
              parturient montes, nascetur ridiculus mus. Donec quam felis,
              ultricies nec, pellentesque eu, pretium quis, sem
            </p>
            <p>
              <span> <img src="/assets/icons/map-pin.svg" alt="" /> </span
              >Aenean massa. Cum sociis natoque penatibus et magnis dis
              parturient montes, nascetur ridiculus mus. Donec quam felis,
              ultricies nec, pellentesque eu, pretium quis, sem
            </p>
          </div>
          <div class="mug-2">
            <img src="/assets/images/caneca-2-banner.jpg" alt="" />
          </div>
        </div>
      </section>
      <section class="mug-section">
        <div class="img-mug-section">
          <img src="/assets/images/caneca-1.png" alt="" />
        </div>
        <div class="mug-text">
          <h2>LOREM IPSUM</h2>
          <p>
            Duis consectetur metus nec lacus auctor dignissim. Mauris vitae
            finibus dui. Mauris laoreet lacus ut eleifend viverra. Cras
            efficitur volutpat dui, in lobortis metus lacinia sit amet. Sed
            lacinia pharetra magna, vel pulvinar ligula hendrerit a. Maecenas
            fringilla porttitor tortor eget lacinia. Donec sollicitudin euismod
            orci, auctor fringilla magna consequat interdum. Fusce sagittis elit
            a libero commodo egestas efficitur id augue.
          </p>
          <p>
            Duis consectetur metus nec lacus auctor dignissim. Mauris vitae
            finibus dui. Mauris laoreet lacus ut eleifend viverra. Cras
            efficitur volutpat dui, in lobortis metus lacinia sit amet. Sed
            lacinia pharetra magna, vel pulvinar ligula hendrerit a. Maecenas
            fringilla porttitor tortor eget lacinia. Donec sollicitudin euismod
            orci, auctor fringilla magna consequat interdum. Fusce sagittis elit
            a libero commodo egestas efficitur id augue.
          </p>
        </div>
      </section>
      <section class="launch">
        <div class="center">
          <div class="launch-header">
            <h2>Lançamentos</h2>
            <p>Ver mais</p>
          </div>

          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card">
                  <img
                    src="/assets/images/actor-man.jpg"
                    alt="actor-man-placeholder"
                  />
                  <div class="card-info">
                    <h3>
                      Lorem ipsum dolor sit amet consectetuer adipiscing elit
                    </h3>
                    <div class="price">
                      <div class="new-values">
                        <p class="OG-price">R$ 100</p>
                        <p class="discount-price">R$ 79,90</p>
                      </div>
                      <a class="discount-per">10% OFF</a>
                    </div>
                    <div class="parcel">Ou em até 10x de R$ 7,90</div>
                    <a href="#" class="btn-buy">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <img
                    src="/assets/images/actor-man.jpg"
                    alt="actor-man-placeholder"
                  />
                  <div class="card-info">
                    <h3>
                      Lorem ipsum dolor sit amet consectetuer adipiscing elit
                    </h3>
                    <div class="price">
                      <div class="new-values">
                        <p class="OG-price">R$ 100</p>
                        <p class="discount-price">R$ 79,90</p>
                      </div>
                      <a class="discount-per">10% OFF</a>
                    </div>
                    <div class="parcel">Ou em até 10x de R$ 7,90</div>
                    <a href="#" class="btn-buy">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <img
                    src="/assets/images/actor-man.jpg"
                    alt="actor-man-placeholder"
                  />
                  <div class="card-info">
                    <h3>
                      Lorem ipsum dolor sit amet consectetuer adipiscing elit
                    </h3>
                    <div class="price">
                      <div class="new-values">
                        <p class="OG-price">R$ 100</p>
                        <p class="discount-price">R$ 79,90</p>
                      </div>
                      <a class="discount-per">10% OFF</a>
                    </div>
                    <div class="parcel">Ou em até 10x de R$ 7,90</div>
                    <a href="#" class="btn-buy">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <img
                    src="/assets/images/actor-man.jpg"
                    alt="actor-man-placeholder"
                  />
                  <div class="card-info">
                    <h3>
                      Lorem ipsum dolor sit amet consectetuer adipiscing elit
                    </h3>
                    <div class="price">
                      <div class="new-values">
                        <p class="OG-price">R$ 100</p>
                        <p class="discount-price">R$ 79,90</p>
                      </div>
                      <a class="discount-per">10% OFF</a>
                    </div>
                    <div class="parcel">Ou em até 10x de R$ 7,90</div>
                    <a href="#" class="btn-buy">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <img
                    src="/assets/images/actor-man.jpg"
                    alt="actor-man-placeholder"
                  />
                  <div class="card-info">
                    <h3>
                      Lorem ipsum dolor sit amet consectetuer adipiscing elit
                    </h3>
                    <div class="price">
                      <div class="new-values">
                        <p class="OG-price">R$ 100</p>
                        <p class="discount-price">R$ 79,90</p>
                      </div>
                      <a class="discount-per">10% OFF</a>
                    </div>
                    <div class="parcel">Ou em até 10x de R$ 7,90</div>
                    <a href="#" class="btn-buy">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <img
                    src="/assets/images/actor-man.jpg"
                    alt="actor-man-placeholder"
                  />
                  <div class="card-info">
                    <h3>
                      Lorem ipsum dolor sit amet consectetuer adipiscing elit
                    </h3>
                    <div class="price">
                      <div class="new-values">
                        <p class="OG-price">R$ 100</p>
                        <p class="discount-price">R$ 79,90</p>
                      </div>
                      <a class="discount-per">10% OFF</a>
                    </div>
                    <div class="parcel">Ou em até 10x de R$ 7,90</div>
                    <a href="#" class="btn-buy">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <img
                    src="/assets/images/actor-man.jpg"
                    alt="actor-man-placeholder"
                  />
                  <div class="card-info">
                    <h3>
                      Lorem ipsum dolor sit amet consectetuer adipiscing elit
                    </h3>
                    <div class="price">
                      <div class="new-values">
                        <p class="OG-price">R$ 100</p>
                        <p class="discount-price">R$ 79,90</p>
                      </div>
                      <a class="discount-per">10% OFF</a>
                    </div>
                    <div class="parcel">Ou em até 10x de R$ 7,90</div>
                    <a href="#" class="btn-buy">Comprar</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>

          <div class="slide-controller">
            <div class="prev-element slide-nav">
              <img src="/assets/icons/arrow.svg" alt="" />
            </div>
            <div class="next-element slide-nav">
              <img src="/assets/icons/arrow.svg" alt="" />
            </div>
          </div>
        </div>
      </section>
      <section class="CTA">
        <div class="cta-message">
          <p>
            Entre em contato conosco e verifique a disponibilidade para sua
            região!
          </p>
        </div>
      </section>
      <section class="newsletter">
        <h3>Cadastre-se agora na nossa <span>newsletter</span></h3>
        <div class="form-newsletter">
          <form action="#">
            <input type="text" name="name" placeholder="Digite seu nome aqui" />
            <input
              type="email"
              name="email"
              placeholder="Digite seu email aqui"
            />
            <div class="check-uptdates">
              <label for="uptdates"
                >Estou de acordo com a Política de Privacidade</label
              >
              <input type="checkbox" name="check-uptade" />
            </div>
            <button type="submit">Cadastrar</button>
          </form>
        </div>
      </section>
      <footer>
        <div class="fast-links">
          <div class="center">
            <div class="wrapper-fast-links">
              <div class="avanti-logo-footer">
                <img
                  class="avanti-logo"
                  src="/assets/icons/avanti-logo.svg"
                  alt=""
                />
                <div class="social">
                  <img src="/assets/icons/insta.svg" alt="" />
                  <img src="/assets/icons/face.svg" alt="" />
                  <img src="/assets/icons/youtube.svg" alt="" />
                  <img src="/assets/icons/tiktok.svg" alt="" />
                </div>
              </div>
              <div class="links">
                <h4>Institucional</h4>
                <h5><a href="#">Sobre nós</a></h5>
                <h5><a href="#">Nossas Lojas</a></h5>
                <h5><a href="#">Privacidade e Segurança</a></h5>
                <h5><a href="#">Termos e Condições</a></h5>
              </div>
              <div class="links">
                <h4>Central de ajuda</h4>
                <h5><a href="#">Fale conosco</a></h5>
                <h5><a href="#">Frete e entrega</a></h5>
                <h5><a href="#">Troca e devoluções</a></h5>
                <h5><a href="#">FAQ</a></h5>
              </div>
              <div class="links">
                <h4>Atendimento</h4>
                <h5>
                  <a href="#"><span>Telefone:</span> (00) 1234-5678 </a>
                </h5>
                <h5>
                  <a href="#"><span> E-mail: </span>exemplo@exemplo.com.br</a>
                </h5>
                <h5>
                  <a href="#"
                    ><span>Horário de atendimento:</span> Segunda a Sábado:
                    07h00 às 23h00 Domingos e Feriados: 07h00 às 21h00</a
                  >
                </h5>
              </div>
            </div>
            <div class="payments-form">
              <img src="/assets/icons/amex-pay.svg" alt="" />
              <img src="/assets/icons/master-pay.svg" alt="" />
              <img src="/assets/icons/visa-pay.svg" alt="" />
              <img src="/assets/icons/hyper-pay.svg" alt="" />
              <img src="/assets/icons/elo-pay.svg" alt="" />
              <img src="/assets/icons/method-pay.svg" alt="" />
              <img src="/assets/icons/paypal-pay.svg" alt="" />
              <img src="/assets/icons/pix-pay.svg" alt="" />
              <img src="/assets/icons/barcode-pay.svg" alt="" />
            </div>
          </div>
          <div class="final-message">
            <p>
              Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
              nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam
              erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci
              tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo
              consequat. Duis autem vel eum iriure dolor in hendrerit in
              vulputate velit esse molestie consequat, vel illum dolore eu
              feugiat nulla facilisis at vero eros et accumsan et iusto odio
              dignissim qui blandit praesent luptatum zzril delenit augue duis
              dolore te feugait nulla facilisi.
            </p>
            <div class="partners">
              <div class="partner-2 partner">
                <img src="/assets/icons/partner-1.svg" alt="" />
                <img src="/assets/icons/partner-2.svg" alt="" />
              </div>
              <div class="partner-1 partner">
                <img src="/assets/icons/avanti-logo.svg" alt="" />
                <img src="/assets/icons/partner-3.svg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </footer>
    </main>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/js/script.js" type="module"></script>
</html>
