<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <title>Avanti page test</title>
  </head>
  <body>
    <header>
      <div class="header-message">
        <p>
          Ganhe <span>R$10,00</span> de desconto no seu primeiro pedido. Utilize
          o cupom <i>DESCONTO10</i>
        </p>
      </div>
      <div class="header-main-content">
        <div class="center">
          <div class="left-side">
            <img src="/assets/icons/avanti-logo.svg" alt="avanti-logo" />
            <input type="text" placeholder="Digite o que você procura" />
          </div>
          <div class="right-side">
            <div class="login">
              <img
                src="/assets/icons/person-login.svg"
                alt="person-login-icon"
              />
              <div class="client-name">
                <p>Olá</p>
                <p>Nome do Cliente!</p>
              </div>
            </div>
            <div class="cart">
              <img src="/assets/icons/cart.svg" alt="cart-icon" />
            </div>
          </div>
        </div>
      </div>
      <nav class="nav-menu">
        <div class="center">
          <ul>
            <li>
              <span><img src="/assets/icons/hamburguer.svg" alt="" /></span>
              Todas as categorias
            </li>
            <li>Departamento</li>
            <li>Departamento</li>
            <li>Departamento</li>
            <li>Departamento</li>
            <li>Departamento</li>
            <li>Departamento</li>
            <li>Departamento</li>
            <li>Departamento</li>
          </ul>
        </div>
      </nav>
    </header>
    <main>
      <section class="banner">
        <img src="../assets/images/chair-banner.png" />
        <div class="text-banner">
          <h1>SUPER<span>SALE</span></h1>
          <p>ITENS SELECIONADOS COM ATÉ</p>
          <h3>50%OFF</h3>
        </div>
      </section>
      <section class="launch">
        <div class="center">
          <div class="launch-header">
            <h2>Lançamentos</h2>
            <p>Ver mais</p>
          </div>

          <div class="swiper">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card">
                  <img
                    src="/assets/images/actor-man.jpg"
                    alt="actor-man-placeholder"
                  />
                  <div class="card-info">
                    <h3>
                      Lorem ipsum dolor sit amet consectetuer adipiscing elit
                    </h3>
                    <div class="price">
                      <div class="new-values">
                        <p class="OG-price">R$ 100</p>
                        <p class="discount-price">R$ 79,90</p>
                      </div>
                      <a class="discount-per">10% OFF</a>
                    </div>
                    <div class="parcel">Ou em até 10x de R$ 7,90</div>
                    <a href="#" class="btn-buy">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <img
                    src="/assets/images/actor-man.jpg"
                    alt="actor-man-placeholder"
                  />
                  <div class="card-info">
                    <h3>
                      Lorem ipsum dolor sit amet consectetuer adipiscing elit
                    </h3>
                    <div class="price">
                      <div class="new-values">
                        <p class="OG-price">R$ 100</p>
                        <p class="discount-price">R$ 79,90</p>
                      </div>
                      <a class="discount-per">10% OFF</a>
                    </div>
                    <div class="parcel">Ou em até 10x de R$ 7,90</div>
                    <a href="#" class="btn-buy">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <img
                    src="/assets/images/actor-man.jpg"
                    alt="actor-man-placeholder"
                  />
                  <div class="card-info">
                    <h3>
                      Lorem ipsum dolor sit amet consectetuer adipiscing elit
                    </h3>
                    <div class="price">
                      <div class="new-values">
                        <p class="OG-price">R$ 100</p>
                        <p class="discount-price">R$ 79,90</p>
                      </div>
                      <a class="discount-per">10% OFF</a>
                    </div>
                    <div class="parcel">Ou em até 10x de R$ 7,90</div>
                    <a href="#" class="btn-buy">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <img
                    src="/assets/images/actor-man.jpg"
                    alt="actor-man-placeholder"
                  />
                  <div class="card-info">
                    <h3>
                      Lorem ipsum dolor sit amet consectetuer adipiscing elit
                    </h3>
                    <div class="price">
                      <div class="new-values">
                        <p class="OG-price">R$ 100</p>
                        <p class="discount-price">R$ 79,90</p>
                      </div>
                      <a class="discount-per">10% OFF</a>
                    </div>
                    <div class="parcel">Ou em até 10x de R$ 7,90</div>
                    <a href="#" class="btn-buy">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <img
                    src="/assets/images/actor-man.jpg"
                    alt="actor-man-placeholder"
                  />
                  <div class="card-info">
                    <h3>
                      Lorem ipsum dolor sit amet consectetuer adipiscing elit
                    </h3>
                    <div class="price">
                      <div class="new-values">
                        <p class="OG-price">R$ 100</p>
                        <p class="discount-price">R$ 79,90</p>
                      </div>
                      <a class="discount-per">10% OFF</a>
                    </div>
                    <div class="parcel">Ou em até 10x de R$ 7,90</div>
                    <a href="#" class="btn-buy">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <img
                    src="/assets/images/actor-man.jpg"
                    alt="actor-man-placeholder"
                  />
                  <div class="card-info">
                    <h3>
                      Lorem ipsum dolor sit amet consectetuer adipiscing elit
                    </h3>
                    <div class="price">
                      <div class="new-values">
                        <p class="OG-price">R$ 100</p>
                        <p class="discount-price">R$ 79,90</p>
                      </div>
                      <a class="discount-per">10% OFF</a>
                    </div>
                    <div class="parcel">Ou em até 10x de R$ 7,90</div>
                    <a href="#" class="btn-buy">Comprar</a>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card">
                  <img
                    src="/assets/images/actor-man.jpg"
                    alt="actor-man-placeholder"
                  />
                  <div class="card-info">
                    <h3>
                      Lorem ipsum dolor sit amet consectetuer adipiscing elit
                    </h3>
                    <div class="price">
                      <div class="new-values">
                        <p class="OG-price">R$ 100</p>
                        <p class="discount-price">R$ 79,90</p>
                      </div>
                      <a class="discount-per">10% OFF</a>
                    </div>
                    <div class="parcel">Ou em até 10x de R$ 7,90</div>
                    <a href="#" class="btn-buy">Comprar</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>

          <div class="slide-controller">
            <div class="prev-element slide-nav">
              <img src="/assets/icons/arrow.svg" alt="" />
            </div>
            <div class="next-element slide-nav">
              <img src="/assets/icons/arrow.svg" alt="" />
            </div>
          </div>
        </div>
      </section>
      <section class="mug-section">
          <img src="/assets/images/caneca-1.png" alt="" />
          <div class="mug-text">
            <h2>LOREM IPSUM</h2>
            <p>
              Duis consectetur metus nec lacus auctor dignissim. Mauris vitae
              finibus dui. Mauris laoreet lacus ut eleifend viverra. Cras
              efficitur volutpat dui, in lobortis metus lacinia sit amet. Sed
              lacinia pharetra magna, vel pulvinar ligula hendrerit a. Maecenas
              fringilla porttitor tortor eget lacinia. Donec sollicitudin
              euismod orci, auctor fringilla magna consequat interdum. Fusce
              sagittis elit a libero commodo egestas efficitur id augue.
            </p>
            <p>
              Duis consectetur metus nec lacus auctor dignissim. Mauris vitae
              finibus dui. Mauris laoreet lacus ut eleifend viverra. Cras
              efficitur volutpat dui, in lobortis metus lacinia sit amet. Sed
              lacinia pharetra magna, vel pulvinar ligula hendrerit a. Maecenas
              fringilla porttitor tortor eget lacinia. Donec sollicitudin
              euismod orci, auctor fringilla magna consequat interdum. Fusce
              sagittis elit a libero commodo egestas efficitur id augue.
            </p>
          </div>
        </div>
      </section>
    </main>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="/js/script.js" type="module"></script>
</html>
