header {
  width: 100%;
}

header span:not(.nav-menu ul span) {
  background-color: #6220c1;
  padding: 2px;
  border-radius: 3px;
}

.header-message {
  background-color: #005cff;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  font-size: 0.9rem;
}

.header-main-content {
  position: relative;
  width: 100%;
  padding: 20px 10px;
}

.header-main-content .center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  gap: 25px;
  flex-wrap: wrap;
}

.left-side,
.right-side {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 100%;
  gap: 50px;
}

.left-side img {
  width: 150px;
  height: auto;
}

.left-side input {
  width: 550px;
  max-width: 100%;
  height: 100%;
  border: 1px solid #dbdbdb;
  border-radius: 12px;
  padding: 0 10px;
}

.login {
  display: flex;
  gap: 8px;
  font-size: 0.85rem;
  font-weight: bold;
}

.right-side .login img,
.right-side .cart img {
  width: 27px;
  height: auto;
}

.nav-menu {
  position: relative;
  padding: 0 10px 25px 10px;
  box-shadow: 0 15px 10px 0 black;
  margin-top: 15px;
}

.nav-menu .nav-menu-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: start;
  gap: 34px;
}

.nav-menu ul li:nth-child(1) {
  font-weight: bold;
}

/* SUBHEADER ALL CATEGORIES*/

.all-categories,
.department-categories {
  top: 35px;
}

.all-categories-link,
.department {
  cursor: pointer;
  transition: 0.2s;
}

.all-categories-link:hover,
.department:hover {
  color: #005cff;
}

.show-menu.all-categories {
  display: flex;
}

.all-categories {
  position: absolute;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: 400px;
  z-index: 23;
  border-radius: 0 8px 8px 0;
  box-shadow: 0 5px 10px 0 rgba(51, 51, 51, 0.144);
  display: none;
}

ul .all-categories-link:hover .all-categories {
  display: flex !important;
}

.department-aside {
  width: 25%;
  position: relative;
  overflow: auto;
  height: 100%;
  background-color: #f8f8f9;
  border-radius: 8px 0 0 8px;
}

.department-aside ul {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  padding: 15px 20px;
}

.department-aside ul li {
  margin: 10px 0;
}

.categories-aside {
  width: 80%;
  height: 100%;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 15px;
  background-color: #ffffff;
  border-radius: 0 8px 8px 0;
  overflow-y: auto;
}

.img-submenu {
  width: 280px;
  height: 100%;
  background-image: url(../assets/images/banner-menu.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 25px;
  border-radius: 5px;
}

.img-submenu p {
  font-size: 1.8rem;
  max-width: 8ch;
  color: #ffffff;
  margin-bottom: 35px;
}

.img-submenu .incoming-span {
  font-weight: bold;
  background-color: transparent;
}

.img-submenu button {
  background-color: transparent;
  border: 1px solid #ffffff;
  width: 150px;
  padding: 16px 8px;
  font-size: 1rem;
  font-weight: bold;
  color: #ffffff;
  border-radius: 8px;
}

.categories-aside ul {
  max-width: 100%;
  width: 550px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 5px;
  place-content: start;
  padding: 15px 0;
}

.categories-aside ul li {
  text-align: start;
  width: max-content;
  margin-bottom: 10px;
}

/* SUBMENU DEPARTMENT */

.show-menu.department-categories {
  display: block;
}

.title-department {
  width: 100%;
  font-size: 0.9rem;
  grid-column: 1 / -1;
  margin-bottom: 15px;
}

.department-categories {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 35;
  background-color: #ffffff;
  display: none;
  height: 400px;
  border-radius: 8px;
  box-shadow: 0 5px 10px 0 rgba(51, 51, 51, 0.144);
}

.department-categories .categories-aside {
  width: 100%;
  border-radius: 8px;
}

.department-categories .categories-aside ul {
  flex-wrap: wrap;
  padding: 0;
}

@media screen and (max-width: 1310px) {
  .nav-menu-links ul {
    gap: 15px;
  }
  .nav-menu-links li:not(.all-categories-link) {
    display: none;
  }
}

@media screen and (max-width: 1060px) {
  .img-submenu {
    display: none;
  }

  .categories-aside ul {
    width: 100%;
  }
}

@media screen and (max-width: 1030px) {
  .header-main-content .center {
    height: unset;
    gap: 20px;
    justify-content: center;
  }

  .left-side {
    width: 100%;
    gap: 25px;
    flex-direction: column;
  }

  .left-side input {
    max-width: unset;
    width: 100%;
    padding: 15px;
  }

  .right-side {
    width: 100%;
    justify-content: start;
    gap: 20px;
    justify-content: center;
  }

  .nav-menu ul {
    align-items: center;
    justify-self: center;
    margin-top: 20px;
  }
}

@media screen and (max-width: 750px) {
  .all-categories .categories-aside {
    width: 50%;
  }

  .all-categories .department-aside {
    width: 50%;
  }

  .categories-aside ul {
    grid-template-columns: 1fr;
  }

  .categories-aside ul li {
    width: 100%;
  }
}

@media screen and (max-width: 365px) {
  .all-categories {
    flex-direction: column;
  }

  .department-aside,
  .categories-aside {
    width: 100% !important;
    border-radius: 0;
  }

  .department-aside ul,
  .categories-aside ul {
    padding: 0 10px;
  }
}

/* banner */

.banner {
  position: relative;
  width: 100%;
  height: 550px;
  background-color: #e8e8ea;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #005cff;
  text-align: center;
  font-weight: bold;
  gap: 35px;
  margin-bottom: 100px;
  flex-wrap: wrap;
  padding: 0 50px;
  overflow: hidden;
}

.banner img {
  width: 740px;
  height: 100%;
}

.banner h1 {
  font-size: 7rem;
  color: #000000;
}

.banner h1 span {
  font-weight: 300;
}

.banner p {
  font-size: 2rem;
  letter-spacing: 6px;
  margin: 10px 0;
}

.banner h3 {
  font-size: 4.4rem;
}

@media screen and (max-width: 1560px) {
  .banner h1 {
    font-size: 5rem;
  }

  .banner p {
    font-size: 1.5rem;
  }

  .banner h3 {
    font-size: 3rem;
  }

  .banner {
    gap: 25px;
  }
}

@media screen and (max-width: 1413px) {
  .text-banner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 100%;
  }

  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 2;
  }

  .banner h1,
  .banner p,
  .banner h3 {
    text-shadow: 0 0 15px #ffffff;
  }
}

@media screen and (max-width: 560px) {
  .banner h1 {
    font-size: 2.5rem;
  }

  .banner p {
    font-size: 1rem;
    padding: 0 15px;
  }

  .banner h3 {
    font-size: 2rem;
  }
}

/* swipper */
.swiper {
  height: 470px;
  position: relative;
}

.slide-controller {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 25;
}

.next-element {
  transform: translateX(20px);
}

.prev-element {
  transform: translateX(-20px);
}

.slide-nav {
  position: relative;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #005cff;
  border-radius: 50%;
  box-shadow: 0 5px 10px -5px rgb(116, 116, 116);
  cursor: pointer;
}

.slide-nav img {
  position: absolute;
  width: 15px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.next-element img {
  transform: translate(-50%, -50%) rotate(180deg);
}

/* cards slide */
.card {
  height: max-content;
  border: 1px solid #dddddd;
  text-align: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
}

.card img {
  position: relative;
  width: 250px;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

.card-info {
  text-align: start;
}

.card-info h3 {
  font-size: 0.9rem;
  font-weight: 400;
}

.card-info .price {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  margin: 5px 0;
}

.card-info .discount-per {
  padding: 3px 9px;
  background-color: #5ec0be;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 6px;
  color: #ffffff;
  text-decoration: underline;
}

.card-info .OG-price {
  text-decoration: line-through;
  margin: 2px;
}

.card-info .discount-price {
  font-size: 1.1rem;
  font-weight: bold;
}

.parcel {
  font-size: 0.85rem;
}

.btn-buy {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 10px 5px;
  background-color: #005cff;
  color: #ffffff;
  border-radius: 10px;
  margin-top: 15px;
}

/* slider header */

.launch {
  margin-top: 50px;
  margin-bottom: 50px;
}

.launch-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

/* mug section 1 e 2 */

.mug-section,
.mug2-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1220px;
  margin: 0 auto 0 auto;
  gap: 35px;
  font-family: "Nunito";
  padding: 30px 0;
}

.mug-section-2 {
  margin: 25px 0;
}

.mug-section img {
  background-color: #c2c2c2;
  width: 650px;
}

.mug-text {
  width: 40%;
}

.mug-text p {
  font-size: 1.1rem;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

.mug-text h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.mug-section-2 {
  width: 100%;
  background-color: #dedede;
}

.mug-2 {
  width: 50%;
}

.mug2-text {
  position: relative;
  color: #4f4f4f;
}

.mug2-text h2 {
  text-align: center;
  margin-bottom: 35px;
}

.mug2-text p {
  width: 40ch;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-bottom: 45px;
  letter-spacing: 1px;
}

.mug2-text p span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 230px;
  height: auto;
  background-color: #005cff;
  padding: 15px;
  border-radius: 50%;
}

/* CTA */

.CTA {
  position: relative;
  width: 100%;
  height: 700px;
  background-image: url(../assets/images/banner-cta.jpg);
  background-size: cover;
  background-position: center;
  margin: 15px 0 75px 0;
}

.cta-message {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  font-size: 1.5rem;
  color: #ffffff;
  background-color: #005cff;
  padding: 45px 5px;
}

/* Newsletter */

.newsletter {
  position: relative;
  text-align: center;
  margin-bottom: 45px;
}

.newsletter h3 {
  margin-bottom: 35px;
}

.newsletter span {
  color: #005cff;
}

.form-newsletter {
  width: 1340px;
  max-width: 100%;
  background-color: #dedfdf;
  margin: 0 auto;
  padding: 60px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.form-newsletter form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  font-family: "Nunito-sans";
}

.form-newsletter form input[type="text"],
.form-newsletter form input[type="email"] {
  width: 250px;
  padding: 15px 10px;
  border-radius: 8px;
}

.form-newsletter form input[type="checkbox"] {
  border: none;
  width: 15px;
  height: 15px;
}

.check-uptdates {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

.form-newsletter form button {
  width: 130px;
  max-width: 100%;
  background-color: #005cff;
  padding: 18px 5px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  color: #ffffff;
}

/* Footer */

.footer {
  position: relative;
  width: 100%;
  font-family: "Nunito-sans";
}

.fast-links {
  width: 100%;
  background-color: #f5f5f5;
  height: max-content;
  padding: 45px 0 0 0;
}

.wrapper-fast-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  place-content: start center;
  padding: 0 10px;
}

.avanti-logo-footer .avanti-logo {
  width: 150px;
  height: auto;
}

.social {
  display: flex;
  gap: 35px;
  margin-top: 20px;
}

.social img {
  width: 21px;
  height: auto;
}

.social img:nth-child(2) {
  width: 10px;
}

.links h4 {
  margin-bottom: 18px;
}

.links h5 {
  margin: 10px 0;
  font-size: 1rem;
}

.links h5 a {
  color: #303030;
  font-weight: 400;
}

.links h5 span {
  font-weight: bold;
}

.payments-form,
.partners {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
  margin-top: 55px;
}

.payments-form {
  padding-bottom: 60px;
}

.payments-form img {
  width: 30px;
  height: 30px;
}

.partners img {
  width: 50px;
  height: auto;
}

.final-message {
  text-align: center;
  background-color: #ffffff;
  padding: 55px 0;
}

.final-message p {
  max-width: 150ch;
  margin: 0 auto;
  color: #303030;
}

.partner {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
}

.partner-2 img {
  width: 40px;
}
