/* slider header */

.launch {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0 35px;
}

.launch-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

/* swipper */
.swiper {
  position: relative;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 25px;
}

.slide-controller {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 25;
}

.next-element {
  transform: translateX(20px);
}

.prev-element {
  transform: translateX(-20px);
}

.slide-nav {
  position: relative;
  width: 35px;
  height: 35px;
  background-color: #ffffff;
  border: 1px solid #005cff;
  border-radius: 50%;
  box-shadow: 0 5px 10px -5px rgb(116, 116, 116);
  cursor: pointer;
}

.slide-nav img {
  position: absolute;
  width: 15px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.next-element img {
  transform: translate(-50%, -50%) rotate(180deg);
}

/* cards slide */
.card {
  height: max-content;
  border: 1px solid #dddddd;
  text-align: center;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 8px;
}

.card img {
  position: relative;
  width: 250px;
  max-width: 100%;
  object-fit: cover;
  height: auto;
}

.card-info {
  text-align: start;
}

.card-info h3 {
  font-size: 0.9rem;
  font-weight: 400;
}

.card-info .price {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 15px;
  margin: 5px 0;
}

.card-info .discount-per {
  padding: 3px 9px;
  background-color: #5ec0be;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 6px;
  color: #ffffff;
  text-decoration: underline;
}

.card-info .OG-price {
  text-decoration: line-through;
  margin: 2px;
}

.card-info .discount-price {
  font-size: 1.1rem;
  font-weight: bold;
}

.parcel {
  font-size: 0.85rem;
}

.btn-buy {
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 10px 5px;
  background-color: #005cff;
  color: #ffffff;
  border-radius: 10px;
  margin-top: 15px;
}
